@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.c-title {
    font-size:$font-size_xxl;
    &__nav {
        font-size:$font-size_default;
        color:$font_color_gray;
        text-decoration:none;
    }
    &--white {
        color:$font_color_gray;
    }
}