@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.p-menu {
    margin: 0 auto;
    width: 99%;
    height: 360px;
    background: $background_color_white;
    border-top: 1px dotted $line_color_mainDark;
    border-bottom: 1px dotted $line_color_mainDark;
}