@import '../../foundation/_variable.scss';
@import '../../foundation/_mixin.scss';

.p-nav{
    background:$background_color_mainDark;
    margin:0 auto;
    width:99%;
    height:60px;
    display:flex;
    justify-content: space-around;
    &__area {
        margin-top:20px;
        margin-bottom:20px;
    }
}